h1 {
        background: linear-gradient(90deg, #ff0000, #ff9900, #ffff00, #00ff00, #0000ff, #6600cc, #ff3399);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: center;
        font-size: 250%;
        font-weight: bold;
    }

h2 {
        color: #fff;
        background: linear-gradient(90deg, #ff0000, #ff9900, #ffff00, #00ff00, #0000ff, #6600cc, #ff3399);
        border: none;
        padding: 5px 20px;
        margin-bottom: 0;
        border-radius: 8px;
    }


#wrap {
        width: 798px;
        margin: 40px auto;
        padding: 40px 80px;
        border: #f6bb9e 1px solid;
        background-color: #fff;
    }


body {
        background-position: center;
        background-color: #fbf9cc;
        background-size: 600px ;
        background-repeat: no-repeat;
        background-attachment: fixed; 
    }

    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');
    .madarin {
    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    }

#top
{
	position:fixed;
	bottom:5px;
	right:5px;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}